logging.level.org.springframework.web=DEBUG
spring.datasource.url=YOUR_URL e.g. jdbc:mysql://localhost:3306/springdemo
spring.datasource.username=YOUR_USERNAME e.g. root
spring.datasource.password=YOUR_PASSWORD
spring.datasource.driver-class-name=com.mysql.cj.jdbc.Driver
spring.jpa.database = MYSQL

spring.jpa.show-sql = true
spring.jpa.generate-ddl = true
spring.jpa.hibernate.ddl-auto = update

